body {
  color: #fff;
}

.alert {
  color: blue;
}

.account li {
  margin-left: 1em;
  word-break: keep-all;
}

.modal-content {
  background-color: darkslategray;
}

.bd-callout-warning {
  border-left-color: #f0ad4e !important;
}

.card {
  border-radius: 16px;
  overflow: hidden;
  margin: 1em;
  cursor: pointer;
  transition: transform 0.5s;
}

.card:hover {
  box-shadow: 0px 0px 15px white;
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01);
}

.card-header {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.card-body, .card-header {
  background-color: darkslategray;
}

.card-img-top {
  object-fit: cover;
  max-height: 15rem;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.threadPostImg {
  width: 100%;
  height: 100%;
  max-height: 20rem;
  max-width: 15rem;
  object-fit: contain;
}

.threadPost {
  padding: 1em;
  padding-top: 2em;
  border: 1px white dashed;
  margin-bottom: 0.5em;
}

.threadPostTimestamp {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px;
}

hr {
  background-color: white;
  height: 2px;
  margin-bottom: 2em;
}

.nsfwLabel {
  color: white;
  font-weight: 600;
  padding-right: 10px;
}

.imagepreview {
  margin-top: 16px;
}

.previewContainer {
  display: block;
    filter: none !important;
    max-width: 16rem;
    max-height: 16rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
